@using System.Web.Hosting
@using System.Web.UI.WebControls
@using DeliverySite.Models
@model IEnumerable<DeliverySite.Models.Manufacturer>
@{
    ViewBag.Title = "Home Page";

}

<style type="text/css"> 
    .image-container {
        background-image: url("img_nature.jpg"); /* The image used - important! */
        background-size: cover; 
        position: relative; /* Needed to position the cutout text in the middle of the image */
        height: 300px; /* Some height */
    }

    .text {
        background-color: white;
        color: black;
        font-size: 10vw; /* Responsive font size */
        font-weight: bold;
        margin: 0 auto; /* Center the text container */
        padding: 10px;
        width: 50%;
        text-align: center; /* Center text */
        position: absolute; /* Position text */
        top: 50%; /* Position text in the middle */
        left: 50%; /* Position text in the middle */
        transform: translate(-50%, -50%); /* Position text in the middle */
        mix-blend-mode: screen; /* This makes the cutout text possible */
    }
    .jumbotron {
        background-color:#8ee4af;
        -moz-background-size: 100% 100%;
    }

    .flex-item {
        justify-content: space-around;
    }
   
    .container1 {
        position: relative;
        width: 50%;
    }
    .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }

    .text {
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }
    .divider{
        width:160px;
        height:auto;
        display:inline-block;
    }
    .image {
        border-radius: 4px;
    }
</style>

<div class=" jumbotron">
  <div class="card-group">
    <div class="card" style="width: 18rem">
        <img class="card-img-top" src="@Url.Content("~/Content/producatori.jpg")"  alt="Card image cap" width="300" height="300">
        <div class="middle">
            <a href="http://localhost:63960/Manufacturers/index" class="btn btn-primary">Vezi toți producătorii</a>
        </div>
    </div>

    

    <div class="divider"></div>
    
    <div class="card" style="width: 18rem">

        <img class="card-img-top" src="@Url.Content("~/Content/All.jpg")" alt="Card image cap" width="300" height="300">
        <div class="middle">
            <a href="http://localhost:63960/products/index" class="btn btn-primary">Vezi toate produsele</a>
        </div>
    </div>
  </div>

    

    <div class="card-header" >
        <center>  <h3 style="color: brown">Nu știi cine, dar știi ce? Alege din categorii!</h3></center>
    </div>
    <div class="row">
        <div class="col-md-5" >
            <div class="image-container">
                <img src="~/Content/Image/pizza-menu.jpg" style="width: 400px; height: 300px;border-radius: 4px" />
                <div class="text">
                    <a href="http://localhost:63960/products/pizza" style="color:white">Meniu Pizza</a>
                </div>
                
            </div>
        </div>
        <div class="col-md-5 ml-auto">
            <div class="image-container">
                <img src="~/Content/Image/burghers-menu.jpg" style="width: 418px; height: 300px;border-radius: 4px"/>
                <div class="text">
                    <a href="http://localhost:63960/products/burghers" style="color: white">Meniu Burghere</a>
                </div>
            </div>
        </div>
        <row/>
        <br/>
        <div class="col-md-12 offset-md-8">
            <div class="image-container">
                <img src="~/Content/Image/sushi-menu.jpg" style="width: 430px; height: 300px;border-radius: 4px" />
                <div class="text">
                    <a href="http://localhost:63960/products/shushi" style="color:white">Meniu Sushi</a>
                </div>
            </div>
        </div>
    </div>
    
</div>