@using Microsoft.AspNet.Identity



@if (Request.IsAuthenticated) 
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar navbar-expand-sm  mr-auto" }))
    {
    @Html.AntiForgeryToken()


      

    <ul class="nav navbar-nav navbar-expand-sm mr-auto">
        
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:63960/manage/index">Salut @User.Identity.Name</a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:63960/products/create">Adauga produs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:63960/manufacturers/create">Adauga producator</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>

    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-expand-sm mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:63960/Account/Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:63960/Account/Register">Registrare</a>
    </li>
</ul>
}
